$header-height: 58px;
$transition-timer: 0.3s;

//region DARK THEME VARIABLES
$dark-content-color: #ffffff;
$dark-main-background-color: #282c34;
$dark-secondary-background-color: #414141;
$dark-border-color: #c43500;
$dark-hover-color: #c43500;
//endregion

//region LIGHT THEME VARIABLES
$light-content-color: #282c34;
$light-main-background-color: #e6e9f0;
$light-secondary-background-color: #ffffff;
$light-border-color: #0586ef;
$light-hover-color: #0586ef;
//endregion
