@import "src/shared/styles/variables";
@import "src/shared/styles/dark-theme";
@import "src/shared/styles/light-theme";

html,
body,
#root {
  height: 100%;
}

#app {
  position: relative;
  height: 100%;

  .transition {
    transition: background-color $transition-timer,
      border-color $transition-timer, color $transition-timer,
      fill $transition-timer, opacity $transition-timer;
  }

  .page-content {
    display: flex;
    overflow: auto;
    flex-flow: column nowrap;
    width: 100vw;
    height: 100vh;
  }

  .hoverable {
    transition: opacity 0.3s;

    &:hover {
      opacity: 0.7;
    }
  }

  #back-to-top {
    position: absolute;
    bottom: 5vh;
    right: 5vw;
  }
}

@media (pointer: none) {
  .page-content {
    scroll-snap-type: y mandatory;
  }
}
